# .gitignore

# Build Folder
build/*

# Visual Studio
.vs

# Shader Generated Header Files
src/shaders/*.h

# SDL
extern/SDL2-2.0.5/VisualC/Win32
extern/SDL2-2.0.5/VisualC/x64
extern/SDL2-2.0.5/VisualC/SDL/Win32
extern/SDL2-2.0.5/VisualC/SDL/x64
extern/SDL2-2.0.5/VisualC/SDLmain/Win32
extern/SDL2-2.0.5/VisualC/SDLmain/x64
extern/SDL2-2.0.5/VisualC/SDLtest/Win32
extern/SDL2-2.0.5/VisualC/SDLtest/x64
extern/SDL2-2.0.5/VisualC/tests/*/Win32
extern/SDL2-2.0.5/VisualC/tests/*/x64
extern/SDL2-2.0.5/VisualC/tests/*/*.bmp
extern/SDL2-2.0.5/VisualC/tests/*/*.wav
extern/SDL2-2.0.5/VisualC/tests/*/*.dat

# GLEW
extern/glew-2.1.0/bin
extern/glew-2.1.0/lib
extern/glew-2.1.0/build/vc12/tmp
