# .gitignore

# macOS
.DS_Store

# Build Folder
build/

# Visual Studio
.vs

# VS Code
.vscode

# Intellij Idea
.idea

# Shader Generated Header Files
src/shaders/*.h

# Extracted FBX Media
*.fbm

# SDL
extern/SDL2-*/
extern/SDL2-*.tar.gz

# GLEW
extern/glew-*/
extern/glew-*.tgz

# CEF
extern/cef_binary_*/
extern/cef_binary_*.tar.bz2
extern/cef_binary_*.tar.bz2.sha1

# RapidJSON
extern/rapidjson-*/

# STB
extern/stb-*/

# GLM
extern/glm-*/
extern/glm-*.zip
