# .gitignore

# Build Folder
build/

# Visual Studio
.vs

# VS Code
.vscode

# Intellij Idea
.idea

# Shader Generated Header Files
src/shaders/*.h

# Extracted FBX Media
*.fbm

# SDL
extern/SDL2-2.0.8/VisualC/Win32
extern/SDL2-2.0.8/VisualC/x64
extern/SDL2-2.0.8/VisualC/SDL/Win32
extern/SDL2-2.0.8/VisualC/SDL/x64
extern/SDL2-2.0.8/VisualC/SDLmain/Win32
extern/SDL2-2.0.8/VisualC/SDLmain/x64
extern/SDL2-2.0.8/VisualC/SDLtest/Win32
extern/SDL2-2.0.8/VisualC/SDLtest/x64
extern/SDL2-2.0.8/VisualC/tests/*/Win32
extern/SDL2-2.0.8/VisualC/tests/*/x64
extern/SDL2-2.0.8/VisualC/tests/*/*.bmp
extern/SDL2-2.0.8/VisualC/tests/*/*.wav
extern/SDL2-2.0.8/VisualC/tests/*/*.dat

# GLEW
extern/glew-2.1.0/bin
extern/glew-2.1.0/lib
extern/glew-2.1.0/build/vc12/tmp

# CEF
extern/cef_binary_*/
extern/cef_binary_*.tar.bz2
extern/cef_binary_*.tar.bz2.sha1
